@import '../../scss/__variables.scss';



body {
    background-color: papayawhip;
}

.register {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    align-items: center;
    height: 97vh;
    margin: 0 auto;
    gap: 10rem;
    position: relative;
    justify-content: center;

    @include sm {
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }
    
    @include md {
        flex-direction: column;
        gap: 5rem;
    }

    @include lg {
        flex-direction: column;
        gap: 10rem;
    }


    &__container {
        font-family: DosisExtraBold;
        max-width: 450px;
        opacity: 0.95;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(184, 224, 225);
        margin-left: 8rem;
        padding: 5rem;
        z-index: 1;
        p {
            font-family: DosisRegular;
        }

        @include sm {
            margin-left: 0rem;
            margin-top: 5rem;
        }

        @include md {
            margin-left: 0rem;
            margin-top: 5rem;
        }

        @include lg {
            margin-left: 0rem;
            margin-top: 5rem;
        }



        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    }

    .imageContainer {
        display: flex;
        flex-direction: column;
        background-color: rgb(184, 224, 225);
        opacity: 0.8;
        padding: 2rem;
        
        

        .image {
            max-width: 450px;

            @include xl {
                display: flex;
                max-width: 300px;
            }
        }

        @include sm {
            display: none;
        }

        @include md {
            display: none;
        }

        @include lg {
            display: none;
        }

        @include xl {
            display: flex;
            max-width: 400px;
        }
    }

    .info {
        background-color: rgb(95, 221, 223);
        padding: 1rem;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

$num-images: 8;
$max-distanceX: 50vw;
$max-distanceY: 75vh;
$min-distance: 150px;

@for $i from 0 through $num-images {
    $distanceX: random() * $max-distanceX;
    $distanceY: random() * $max-distanceY;
    .cloud {
        &:nth-child(#{$i}) {
            left: $distanceX;
            top: $distanceY;
            z-index: -1;
        }
    }
}


.cloud, .cloud2 {
    position: absolute;
    top: 0;
    max-width: 200px;
}

.error {
    margin-top: 1rem;
    color: red;
    background-color: white;
    padding: 1rem;

    .errorTitle {
        font-size: 1.25rem;
        font-family: "DosisExtraBold";
    }
}
