@import '../../scss/_variables.scss';

@mixin Button {
    padding: 10px;
    font-family: DosisExtraBold;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.5rem;
    max-width: 1280px;
    width: 100%;
    

    .navbarContainer {
        padding: 1rem;
        width: 100%;
        display: flex;
        border-radius: 0.5rem;
        flex-direction: row;
        justify-content: space-between;
        
        @include sm {
            justify-content: center;
            align-items: center;
        }

        @include md {
            justify-content: center;
            align-items: center;    
        }
    }
    

    .logo {
        font-size: 1rem;
        font-family: DosisExtraBold;
    }

    .navbarButtons {
        display: flex;
        flex-direction: row;
        gap: 1rem;


        @include sm {
            gap: 0;
        }

        .buttonItemContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            .buttonItem {
                @include Button();
                
                .icon {
                    color: inherit;
                    font-size: 1.25rem;
                }
            }


            .hamburger {
                display: none;
                
                @include sm {
                    display: flex;
                    color: grey;
                    font-size: 1.5rem;
                    margin-left: 1rem;
                }
                
                @include md {
                    display: flex;
                    color: grey;
                    font-size: 1.5rem;
                    margin-left: 1rem;
                }
            }


        }
    }
    
    @include sm {
        .buttonItemContainer:nth-child(3) {
            display: none;
        }
    }

    .infoContainer {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: DosisExtraBold;
        flex-direction: row;
        gap: 5rem;
        
        @include sm {
            display: none;
        }

        @include md {
            display: none;
        }

        .coinContainer {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .coinImage {
                width: 1.75rem;
                flex-direction: row;
                display: flex;
            }
        }

        .userContainer {
            display: flex;
            font-family: DosisRegular;
            gap: 2rem;
            
            @include md {
                display: none;
            }

        }
        .buttonItem {
            @include Button();
            background-color: rgb(192, 254, 255);
        }
    }
}

.allNav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .buttonSwitch {
        margin-top: 0.3rem;
    }
}